<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="project-name">
    <h1>Tabibi</h1>
</div>
<div class="buttons">
    <button type="button" id="logoutButton">Logout</button>
</div>
<div class="admin-dash">
    <h2>Admin Dashboard</h2>
    <section class="doctors_list">
        <h3>Doctors list</h3>
        <div class="table-container">
            <table id="doctors-list-table">
                <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor ID</th>
                    <th>Doctor speciality</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    <section class="patients_list">
        <h3>Patients list</h3>
        <div class="table-container">
            <table id="patient-list-table">
                <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Patient Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
<script src="../static/js/admin_dashboard.js"></script>
<script src="../static/js/logout.js"></script>
</html>
