<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="project-name">
    <h1>Tabibi</h1>
</div>
<div class="buttons">
    <button id="register" onclick="window.location.href='registeration';">Register</button>
    <button id="login" onclick="window.location.href='login';">Login</button>
</div>
<div class="error">
    <h1>Error</h1>
    <p>Sorry something went wrong</p>
</div>

</body>
</html>
