<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabibi</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="project-name">
    <h1>Tabibi</h1>
</div>
<div class="buttons">
    <button id="register" onclick="window.location.href='registeration';">Register</button>
    <button id="login" onclick="window.location.href='login';">Login</button>
</div>
<div class="description">
    <p>هل تتعب من الانتظار لساعات عند الذهاب إلى الطبيب؟ الحل أصبح أسهل مع موقع طبيبي!
        من خلال منصتنا، يمكنك حجز مواعيدك بسهولة وفي أي وقت، لاحتياجاتك. ودّع الانتظار الطويل وابدأ رحلتك نحو راحة أكبر
        وخدمات طبية أسرع."
    </p>
    <p>
        Are you tired of waiting for hours when visiting the doctor? The solution is now easier with Tabibi!
        Through our platform, you can book your appointments easily and at any time, tailored to your needs. Say goodbye
        to long waits and start your journey towards greater convenience and faster medical services."
    </p>
    <p>
        Êtes-vous fatigué d'attendre des heures lors de vos visites chez le médecin ? La solution est désormais plus
        simple avec Tabibi !
        Grâce à notre plateforme, vous pouvez prendre vos rendez-vous facilement et à tout moment, adaptés à vos
        besoins. Dites adieu aux longues attentes et commencez votre parcours vers plus de confort et des services
        médicaux plus rapides.
    </p>
    <p>
        So login or create an account if you don't have one to start your journey with Tabibi!
    </p>
</div>
</body>
</html>
