<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="project-name">
    <h1>Tabibi</h1>
</div>
<div class="buttons">
    <button id="login" onclick="window.location.href='login';">Login</button>
</div>
<div class="register-boxes">
    <div class="doctor-registration-box">
        <div class="text-content">
            <p>

                يمكن للأطباء التسجيل على المنصة من خلال إنشاء حساب، وتقديم بياناتهم، وتحديد تخصصاتهم وتوافرهم. بمجرد
                التسجيل، يمكنهم تأكيد أو رفض المواعيد بناءً على جداولهم.
            </p>
            <p>
                Doctors can register on the platform by creating an account, providing their credentials,
                specialization, and availability. Once registered, they can confirm or decline appointments based on
                their schedules.
            </p>
            <p>
                Les médecins peuvent s'inscrire sur la plateforme en créant un compte, en fournissant leurs
                informations, leur spécialisation et leur disponibilité. Une fois inscrits, ils peuvent confirmer ou
                refuser les rendez-vous en fonction de leurs horaires.
            </p>
        </div>
        <button id="doctor-button" onclick="window.location.href='registerDoctor'">Doctors register here</button>
    </div>
    <div class="patient-registration-box">
        <div class="text-content">
            <p>
                يمكن للمرضى إنشاء حساب لحجز المواعيد مع أطبائهم المفضلين. يمكنهم البحث عن الأطباء حسب التخصص، حجز موعد،
                وسيقوم الطبيب بتأكيد الموعد مع المريض.</p>
            <p>
                Patients can create an account to book appointments with their preferred doctors. They can search for
                doctors by speciality, book appointment and the doctor will confirm the date with the patient.
            </p>
            <p>
                Les patients peuvent créer un compte pour prendre des rendez-vous avec leurs médecins préférés. Ils
                peuvent rechercher des médecins par spécialité, réserver un rendez-vous, et le médecin confirmera la
                date avec le patient.
            </p>
        </div>
        <button id="patient-button" onclick="window.location.href='registerPatient'">Patient register here
        </button>
    </div>
</div>
</body>
</html>

